{% extends 'employee/employ_detail.html' %}
{% load bootstrap debugtools_tags %}
{% block content_breadcrumb_li %}
    <li class=""><a href="{% url 'BP_INDEX' %}">控制台</a></li>
    <li class=""><a href="{% url 'EMPLOYEE:EMPLOYEE_LIST' %}">花名册</a></li>
    <li class=""><a href="{% url 'EMPLOYEE:EMPLOYEE_DETAIL' employee.employee_number content_type%}">员工档案</a></li>
    <li class="active">修改档案</li>
{% endblock %}
{% block content_box2 %}
    <div class="modal fade" id="change_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$(function() {
                            window.location.href='{% url 'EMPLOYEE:EMPLOYEE_DETAIL' employee.employee_number content_type  %}'
                            });">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">{% block form-title %}修改{% endblock %}</h4>
                </div>
                <form method="post" class="form-horizontal " enctype="multipart/form-data">
                    <div class="modal-body">
                        {{ form|bootstrap_horizontal }}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="$(function() {
                                window.location.href='{% url 'EMPLOYEE:EMPLOYEE_DETAIL' employee.employee_number content_type  %}'
                                });">取消</button>
                        <input type="submit" value="确定" class="btn btn-primary " name="save_and_reutrn"/>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <script>
        $(document).ready(function(){
            $('#change_modal').modal('show');
        })
    </script>
{% endblock %}